body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;

  background: url(main_page_background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a.nav-link active {
  color:#14454d
}
a.nav-link{
  color:#1fd3f0
  
}
a.nav-link disabled{
  color:#d5e8eb
}